<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalEmployeeForm" role="dialog"
    tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="add-employee-title">Add
                    Employee</h4>
            </div>
            <form action="/employees/save/" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 justify-content-center cold-md-offset-3"
                        style="float: none; margin: auto;">
                        <input type="hidden" id="id_{{ employee.id }}" name="id" value="{{ employee.id}}">
                        <input class="form-control" id="first_name_{{ employee.first_name }}"
                            name="first_name" value="{{ employee.first_name }}" type="text"> <label
                            data-error="wrong" data-success="right" for="first_name">First Name</label>
                        <input class="form-control validate" id="last_name_{{ employee.last_name }}" name="last_name"
                            value="{{employee.last_name}}" type="text">
                        <label data-error="wrong" data-success="right" for="last_name">Last Name</label>
                        <input class="form-control validate" id="email_{{ employee.email }}" name="email"
                            value="{{ employee.email }}" type="text"> <label data-error="wrong" data-success="right"
                            for="email">Email</label> 
                        <input class="form-control validate"
                            id="phone_number_{{ employee.phone_number }}" name="phone_number"
                            value="{{ employee.phone_number }}" type="text"> <label data-error="wrong"
                            data-success="right" for="phone_number">Phone Number</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary" id="add-employee-button" type="submit">Add
                    </button>

                    <button aria-label="Close" class="btn btn-primary" data-dismiss="modal">Cancel
                    </button>

                </div>
            </form>
        </div>
    </div>


</div>