<!DOCTYPE html>
<html lang="en">

{% csrf_token %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Dispatcher</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'mainsite/vendor/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{% static 'mainsite/css/sb-admin-2.min.css' %}">

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="{% static 'mainsite/vendor/datatables/dataTables.bootstrap4.min.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"
        type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"
        type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"
        type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js" type="text/javascript"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">Tote DB</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active"><a class="nav-link" href="/"> <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a></li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">Interface</div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item"><a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed"
                    data-target="#collapseTwo" data-toggle="collapse" href="#"> <i
                        class="fas fa-fw fa-address-book"></i> <span>Employees</span>
                </a>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/employees/list">Employee List</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item"><a aria-controls="collapseUtilities" aria-expanded="true" class="nav-link collapsed"
                    data-target="#collapseUtilities" data-toggle="collapse" href="#"> <i
                        class="fas fa-fw fa-wrench"></i> <span>Utilities</span>
                </a>
                <div aria-labelledby="headingUtilities" class="collapse" data-parent="#accordionSidebar"
                    id="collapseUtilities">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/bettingAreas/list">Betting Areas</a>
                        <a class="collapse-item" href="/machines/machineMasterList">Machine Master List</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div class="d-flex flex-column" id="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none"><a aria-expanded="false" aria-haspopup="true"
                                class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="searchDropdown"
                                role="button"> <i class="fas fa-search fa-fw"></i>
                            </a> <!-- Dropdown - Messages -->
                            <div aria-labelledby="searchDropdown"
                                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                                <form action="" class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input aria-describedby="basic-addon2" aria-label="Search"
                                            class="form-control bg-light border-0 small" placeholder="Search for..."
                                            type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow"><a aria-expanded="false" aria-haspopup="true"
                                class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown"
                                role="button"> <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.name}"></span>
                    </a> <!-- Dropdown - User Information -->
                        <div
                                aria-labelledby="userDropdown"
                                class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#"> <i
                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                            </a> <a class="dropdown-item" href="#"> <i
                                class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a> <a class="dropdown-item" href="#"> <i
                                class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal"
                               href="#"> <i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div
                        class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Employee List</h1>
             
                </div>

                <!-- Content Row -->

                <div class="row w-100">

                    <div class="card shadow mb-4 w-100">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table cellspacing="0" class="table table-bordered" id="dataTable"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for employee in employee_list %}
                                    <tr>
                                        <td name = "first_name" id="first_name{{ forloop.counter}}">{{ employee.first_name }}</td>
                                        <td name = "last_name" id="last_name{{ forloop.counter}}">{{ employee.last_name }}</td>
                                        <td name = "email" id="email{{ forloop.counter}}">{{ employee.email }}</td>
                                        <td name = "phone_number" id="phone_number{{ forloop.counter}}">{{ employee.phone_number }}</td>
                                        <td><a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                id="editEmployeeButton"
                                                onclick="openEmployeeModal( {{ employee.id }} )">
                                            <i class="material-icons">&#xE254;</i>
                                        </a>

                                            <a
                                                    class="btn btn-danger btn-sm"
                                                    onclick="if (!(confirm('Are you sure you want to delete?'))) return false"
                                                    href="/employees/delete(employeeId={{ employee.id }})">
                                                <i class="material-icons">&#xE872;</i>
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <button class="btn btn-primary btn-lg"

                            id="addEmployeeButton"
                            onclick="openEmployeeModal(-1)">Add Employee
                    </button>

                </div>

                <div id="employeeModalHolder">
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready
                to end your current session.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal"
                        type="button">Cancel
                </button>
                <form method="POST" th:action="@{/logout}">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'mainsite/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'mainsite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
        type="text/javascript"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'mainsite/vendor/jquery-easing/jquery.easing.min.js' %}"
        type="text/javascript"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'mainsite/js/sb-admin-2.min.js' %}" type="text/javascript"></script>

<!-- Page level plugins -->
<script src="{% static 'mainsite/vendor/datatables/jquery.dataTables.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'mainsite/vendor/datatables/dataTables.bootstrap4.min.js' %}"
        type="text/javascript"></script>

<!-- Page level custom scripts -->
<script src="{% static 'mainsite/js/demo/datatables-demo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var rh = rh || {};
    rh.mq = rh.mq || {};

    rh.mq.attachEventHandlers = function () {
        $("#modalEmployeeForm").on('shown.bs.modal', function () {
            $("#defaultForm-first-name").focus();


            $("#addEmployeeButton").click(function () {
                $("#modalEmployeeForm .modal-title").html("Add an Employee");
                $("#modalEmployeeForm #add-employee-button").html("Add");

            });


            $("#editEmployeeButton").click(function () {
                $("#modalEmployeeForm .modal-title").html("Edit an Employee");
                $("#modalEmployeeForm #add-employee-button").html("Finish");

            });

        });

    };


    $(document).ready(function () {
        rh.mq.attachEventHandlers();

    });

    function csrfSafeMethod(method) {
        return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    })

    function openEmployeeModal(id) {
        $.ajax({
            type: 'POST',
            url: "/employees/edit/" + id + "/",
            dataType: 'json',
            success: function (data) {
                $("#employeeModalHolder").html(data.html_form);
                
                var s1;
                var s2;
                var negOne = -1;
                if (id.toString() === negOne.toString()) { // id is negative one if we're adding a new employee
                    s1 = "Add";
                    s2 = "Add Employee";
                } else {
                    s1 = "Save";
                    s2 = "Edit Employee";
                }

                $("#employeeModalHolder #add-employee-button").html(s1);
                $("#employeeModalHolder #add-employee-title").html(s2);

                $("#modalEmployeeForm").modal("show");


            }
        });
    }
</script>

</body>

</html>